<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product Listing &mdash; NitroCart</title>

    <link rel="stylesheet" href="/public/main.css">
</head>
<body ng-app="nitroCart">
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 class="no-margin"><a class="navbar-brand" href="/">NitroCart</a></h1>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">All Products</a></li>
                <li><a href="/about">Dev</a></li>
                <li><a href="#login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" role="main" ng-controller="ProductsCtrl">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <!-- Search box -->
            <div class="form-group homepage-search">
                <div class="icon-addon addon-lg">
                    <input type="text" placeholder="Search (by product name, description or ID)" class="form-control" id="email">
                    <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                </div>
            </div>
        </div>

        <!-- API hits -->
        <div class="col-sm-12 col-md-6">
            <div class="pull-right well well-sm">
                <b>API Hits:</b> 9000 | <b>Total Likes:</b> 20
                <a href=""><span class="glyphicon glyphicon-refresh text-muted" aria-hidden="true"></span></a>
            </div>
            <div class="pull-right well well-sm">
                <b>Sort:</b> <a ng-click="sortBy('price', 'asc')">Price</a> | <a href="">Rating</a> | <a href="">Popularity</a>
            </div>
        </div>
    </div>

    <!-- Products container -->
    <div class="products_listing row">
        <div class="col-sm-12 col-md-6" ng-repeat="product in products">
            <div class="product_wrapper well well-sm">
                <div class="product_image">
                    <a href="" class="thumbnail">
                        <img src="{{ product.image }}" alt="Image" />
                    </a>
                </div>
                <div class="product_details">
                    <h3>{{ product.name }}</h3>
                    <p class="purchased text-muted">Purchased by {{ product.purchased_by }}</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                {{ product.price | currency:"&#8377;" }}
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                <span class="glyphicon glyphicon-star text-warning"></span> {{ product.rating | number:1 }}</span>
                            </p>
                        </div>
                    </div>
                    <p>
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="label label-default" ng-repeat="tag in product.tags">{{ tag }}</span>
                    </p>
                    <p>
                        <a href="{{ product.link }}" title="{{ product.link }}" target="_blank">
                            <span class="glyphicon glyphicon-link"></span>
                            {{ product.link | limitTo:30 }} {{ product.link.length > 40 ? '...' : '' }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <h6>Product Categories</h6>
                <ul class="list-unstyled">
                    <li><a href="">Appliances</a></li>
                    <li><a href="">Apparel</a></li>
                    <li><a href="">Sport</a></li>
                    <li><a href="">Gadgets</a></li>
                    <li><a href="">Books</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h6>FAQ Pages</h6>
                <ul class="list-unstyled">
                    <li><a href="">About</a></li>
                    <li><a href="">Return & Refunds</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Media</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3"></div>
            <div class="col-sm-6 col-md-3">
                <address>
                    <strong>SapientNitro Cart Pvt. Ltd.</strong><br>
                    7 Racecourse Road<br>
                    Delhi, New Delhi<br>
                    <abbr title="Phone">Phone:</abbr> (011) 3235 5558
                </address>

                <address>
                    <strong>Email Us @</strong><br>
                    <a href="mailto:no-reply@gmail.com">no-reply@gmail.com</a>
                </address>
            </div>
        </div>
    </div>
</footer>
<script src="/public/main.js"></script>

</body>
</html>